<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Cop vs Robbers</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NMFClientId</key>
	<string>$(NAVER_MAP_CLIENT_ID)</string>
	<key>NMFNcpKeyId</key>
	<string>$(NAVER_MAP_CLIENT_ID)</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<false/>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>QR 코드 스캔을 위해 카메라 권한이 필요합니다.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>게임 진행을 위해 위치 권한이 필요합니다.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>게임 진행을 위해 현재 위치 권한이 필요합니다.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>도둑 팀 무전을 위해 마이크 권한이 필요합니다.</string>
	<key>PNT_API_BASE_URL</key>
	<string>$(PNT_API_BASE_URL)</string>
	<key>PNT_STAGE</key>
	<string>$(PNT_STAGE)</string>
	<key>PNT_TURN_URL</key>
	<string>turn:112.169.110.183:3478</string>
	<key>GADApplicationIdentifier</key>
	<string>ca-app-pub-8606099213555265~5939533757</string>
	<key>PNT_TURN_USERNAME</key>
	<string>pnt_turn_user</string>
	<key>PNT_TURN_CREDENTIAL</key>
	<string>877cea497c867e6e88c7281a04468125</string>
	<key>RCTNewArchEnabled</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
